<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/pdficon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap4/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='maindecr.js') }}"></script>
        <title>Decrypt | PDF Guard</title>
    </head>
    <body style="background-color: #171717;">
        <!-- NavBar Start -->
        <nav class="navbar navbar-expand-lg navbar-dark navcustom" style="font-family: 'Work Sans', sans-serif;">
            <a class="navbar-brand text-info py-0 pb-1" style="font-size: 20px;" href="{{ url_for('home') }}">PDF Guard</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-family: 'Work Sans', sans-serif; font-size: 16px;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link mr-3" href="{{ url_for('home') }}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mr-3" href="{{ url_for('encrypt') }}">Encrypt</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mr-3 active" href="{{ url_for('decrypt') }}">Decrypt</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link mr-3" href="{{ url_for('contact') }}">Contact Me</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr class="w-100 my-0 bg-info">
        <!-- NavBar End -->

        <h1 id="header" class="text-center text-info mt-5 mb-2 mx-2" style="font-family: 'Work Sans', sans-serif; font-size: 36px;">Decrypt PDF</h1>

        <div class="container-fluid text-white d-flex justify-content-center my-4 col-lg-10 col-md-8 col-sm-8 text-center">
            <p id="intro" style="font-family: 'Work Sans', sans-serif; font-size: 18px; overflow-wrap: break-word;">
                Decrypt your PDF and use it as you want.
            </p>
        </div>

        <div id="mainDiv" class="container-fluid my-5 pt-5 col-lg-6 col-sm-10 col-md-8 col-10">
            <form method="post" action="result/decr" enctype="multipart/form-data">
                <div class="d-flex justify-content-center">
                    <div class="input-group" style="max-width: 550px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input id="file" type="file" name="file" accept="application/pdf" class="custom-file-input">
                            <label id="disp" class="custom-file-label" for="customFile" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Choose PDF file</label>
                        </div>
                    </div>
                </div>

                <div id="passform" style="display: none;">
                    <div class="d-flex justify-content-center">
                        <div class="col-lg-6"  style="max-width: 320px;">
                            <div class="input-group my-5">
                                <input type="password" name="pass" class="form-control" id="pass" placeholder="Password">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-eye-slash" id="eye" onclick="passEye()" style="cursor: pointer;"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-danger text-center" style="font-family: 'Work Sans', sans-serif; font-size: 18px; overflow-wrap: break-word;">
                        Please note: We don't keep your password or your file on our server.
                    </p>
                </div>

                <div class="text-center my-4">
                    <button id="submit" type="submit" onclick="showAnim()" class="btn btn-outline-danger my-4" disabled style="font-family: 'Work Sans', sans-serif; font-weight: bold; line-height: 24px; width: 150px;">Decrypt</button>
                </div>
            </form>
        </div>

        <!-- Animation part -->

        <div id="encrAnimation" class="text-center mx-5" style="display: none; margin-top: 18em;">
            <div class="d-flex justify-content-center mt-5 mb-4">
                <div id="preloader">
                </div>
            </div>
            <h2 class="text-danger", style="font-family: 'Work Sans', sans-serif; font-size: 24px;">Decrypting</h2>
            <p class="my-3" style="font-family: 'Work Sans', sans-serif; font-size: 16px; overflow-wrap: break-word; color: #999999;">
                This may take a few seconds depending upon the size of your PDF file.
            </p>
        </div>

        <!-- Animation part End -->

        <footer class="fixed-bottom p-0 text-white" style="background-color: #141414;">
            <hr class="w-100 my-0 bg-info text-center">
            <h6 class="py-1 my-auto text-center" style="font-family: 'Work Sans', sans-serif; font-size: 12px;">
            Made with ❤️ by <span style="color: orange;">De</span><span class="text-white">van</span><span class="text-success">sh</span>
            </h6>
        </footer>
    </body>
</html>
